# IntelliJ
**/.idea

# Python
__pycache__

# Gradle/IntelliJ
Gpufit/java/gpufit/.gradle
Gpufit/java/gpufit/build
Gpufit/java/gpufit/out

# docs
/docs/_build

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json 

# build
build